*{
    background-color: black;
    color: white;
}

.navbar {
    text-align: right;
    font-size: 20px;
    word-spacing: 10px;
    margin-top: 20px;
    margin-right: 20px;
}

.tagline {
    text-align: left;
    font-size: 80px;
    color: white;
    padding-top: 50px;
    padding-bottom: 50px;
}

img{
    max-width: 100%;
    height: auto;
    margin-top: 20px;
    margin-bottom: 20px;
}

#contact {
    text-align: center;
    font-size: 12px;
    color: gray;
    margin-top: 20px;
    margin-bottom: 20px;

}

.query {
    text-align: center;
    font-size: 12px;
    margin-top: 20px;
    margin-bottom: 20px;
    
}

.copyright {
    text-align: center;
    font-size: 12px;
    color: gray;
    margin-top: 20px;
    margin-bottom: 10px;
}