body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #000000;
}

header {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: #000000;
    color: #fff;
    padding-top: 10px;
    padding-bottom: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
    text-align: center;
}

nav {
    background-color: #f0f0f0;
    border-bottom: 1px solid #ddd;
    padding: 10px;
}

nav a {
    display: inline-block;
    margin: 0 15px;
    padding: 10px 20px;
    text-decoration: none;
    color: #333;
    border-bottom: 2px solid transparent;
}

nav a:hover {
    border-bottom-color: #007bff;
}

section {
    padding: 40px;
    margin-bottom: 40px;
    background-color: #fff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

th, td {
    padding: 10px;
    border: 1px solid #ddd;
    text-align: left;
}

th {
    background-color: #f0f0f0;
}


form {
    background-attachment: #273956;
    max-width: 400px;
    margin: 0 auto;
    color: #ffffff;
    padding: 7px;
}

label {
    padding: 10px;
    display: block;
    margin-bottom: 5px;
}

input[type="text"],
textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

button {
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
}


footer {
    background-color: #273956;
    color: #fff;
    padding: 20px;
    text-align: center;
}


.interest-cards {
    background-color: #ffffff;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.interest-card {
    background-color: #f0f0f0;
    border-radius: 10px;
    padding: 20px;
    text-align: center;
    width: 30%;
    margin-bottom: 20px;
}

.interest-card i {
    font-size: 36px;
    color: #273956;
    margin-bottom: 10px;
}

.interest-card h3 {
    font-size: 18px;
    margin-bottom: 10px;
}
.hobby-cards {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.hobby-card {
    background-color: #f0f0f0;
    border-radius: 10px;
    padding: 20px;
    text-align: center;
    width: 30%;
    margin-bottom: 20px;
}

.hobby-card i {
    font-size: 36px;
    color: #273956;
    margin-bottom: 10px;
}

.hobby-card h3 {
    font-size: 18px;
    margin-bottom: 10px;
}
.fa-instagram {
    font-size: 50px;
}
.fa-facebook {
    font-size: 50px;
}
.fa-youtube {
    font-size: 50px;
}


.video {
    margin: 20px;
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #f9f9f9;
}

body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  transition: background 0.3s, color 0.3s;
}

body.light {
  background-color: white;
  color: black;
  text-decoration-color: black;
}

body.dark {
  background-color: #121212;
  color: white;
  text-decoration: white;
}

.container {
  text-align: right;
    /* padding: 20px; */
}

button {
  padding: 5px 5px;
  font-size: 18px;
  background: #3a3f44;
  border: none;
  color: white;
  cursor: pointer;
  border-radius: 5px;
}