/* General Styles */
body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #273956;
}

/* Header Styles */
header {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: #273956;
    color: #fff;
    padding: 20px;
    text-align: center;
}

/* Navigation Styles */
nav {
    background-color: #f0f0f0;
    border-bottom: 1px solid #ddd;
    padding: 10px;
}

nav a {
    display: inline-block;
    margin: 0 15px;
    padding: 10px 20px;
    text-decoration: none;
    color: #333;
    border-bottom: 2px solid transparent;
}

nav a:hover {
    border-bottom-color: #007bff;
}

/* Section Styles */
section {
    padding: 40px;
    margin-bottom: 40px;
    background-color: #fff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

/* Table Styles */
table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

th, td {
    padding: 10px;
    border: 1px solid #ddd;
    text-align: left;
}

th {
    background-color: #f0f0f0;
}

/* Form Styles */
form {
    background-attachment: #273956;
    max-width: 400px;
    margin: 0 auto;
    color: #ffffff;
    padding: 7px;
}

label {
    padding: 10px;
    display: block;
    margin-bottom: 5px;
}

input[type="text"],
textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

button {
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
}

/* Footer Styles */
footer {
    background-color: #273956;
    color: #fff;
    padding: 20px;
    text-align: center;
}


.interest-cards {
    background-color: #ffffff;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.interest-card {
    background-color: #f0f0f0;
    border-radius: 10px;
    padding: 20px;
    text-align: center;
    width: 30%;
    margin-bottom: 20px;
}

.interest-card i {
    font-size: 36px;
    color: #273956;
    margin-bottom: 10px;
}

.interest-card h3 {
    font-size: 18px;
    margin-bottom: 10px;
}
.hobby-cards {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.hobby-card {
    background-color: #f0f0f0;
    border-radius: 10px;
    padding: 20px;
    text-align: center;
    width: 30%;
    margin-bottom: 20px;
}

.hobby-card i {
    font-size: 36px;
    color: #273956;
    margin-bottom: 10px;
}

.hobby-card h3 {
    font-size: 18px;
    margin-bottom: 10px;
}
.fa-instagram {
    font-size: 50px;
}
.fa-facebook {
    font-size: 50px;
}
.fa-youtube {
    font-size: 50px;
}